driver_ac_9260/*
*.ucode
**/__pycache__/**
**/octoprint/uploads/**
**/octoprint/timelapse/**
**/octoprint/logs/**
**/octoprint/octoprint/**
**/octoprint/**
python_installation
venvcd
AviSynthPlus
builds
acer-predator-turbo-and-rgb-keyboard-linux-module
cuda-repo-wsl-ubuntu-12-0-local_12.0.0-1_amd64.deb
*.deb
nsolid_setup_deb.sh
alacritty
docker/codeigniter3/src/**/*
!docker/codeigniter3/src/README.md